<header class="header-container">
  <div class="header-container-search">
    <a class="search-logo-a" href="cookavsky.com">
      <img class="search-logo" src="../assets/img/Logo.svg">
    </a>
    <form class="search-container">
      <input class="search-container-input" placeholder="Wyszukaj...">
      <div class="search-container-section">
        <span class="section-text">Wszystkie działy</span>
        <button class="section-button">
          <img class="section-button-img" src="../assets/img/angle-down-solid.svg">
        </button>
      </div>
      <button class="search-button">
        <img class="search-button-img" src="../assets/img/search-solid.svg">
      </button>
    </form>
  </div>
  <div class="header-panel">
    <a class="header-panel-account">
      <img class="header-panel-account-img" src="../assets/img/user-solid.svg">
      <p class="header-panel-text">Zaloguj się<br>Załóż konto</p>
    </a>
    <a class="header-panel-shopping">
      <img class="header-panel-shopping-img" src="../assets/img/shopping-cart-solid.svg">
      <p class="header-panel-text">Twój Kosz</p>
    </a>
    <a class="header-panel-contact">
      <img class="header-panel-contact-img" src="../assets/img/envelope-solid.svg">
      <p class="header-panel-text">Kontakt</p>
    </a>
  </div>
</header>
<nav>
  <ol class="menu">
    <li>
      <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()" (mouseleave)="menuTrigger.closeMenu()">
        <h4>PS4</h4>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false" direction="down" yPosition="below">
        <span (mouseleave)="menuTrigger.closeMenu()"></span>
        <div class="accessories" mat-menu-item>
          <h5>Akcesoria Ps4</h5>
        </div>
        <div class="games" mat-menu-item>
          <h5>Gry na Ps4</h5>
        </div>
      </mat-menu>
    </li>
    <li>
      <div class="menu-section">
        <h4>XONE</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>PC</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>SWITCH</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>3DS</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>PS3/X360</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>WIIU/WII/DS</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
    <li>
      <div class="menu-section">
        <h4>UŻYWANE</h4>
        <img class="menu-button-img" src="../assets/img/angle-down-solid.svg">
      </div>
    </li>
  </ol>
</nav>

<button #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)"
  (mouseleave)="buttonLeave(levelOneTrigger, button)" style="z-index:1050">
  <span>Ps4
  </span>
</button>

<mat-menu #levelOne="matMenu" direction="down" yPosition="below">
  <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
    <div>
      <span>Akcesoria</span>
    </div>
  </span>
</mat-menu>

<router-outlet></router-outlet>
