<header class="header-container">
  <div class="header-container-search">
    <a class="search-logo-a" href="cookavsky.com">
      <img class="search-logo" src="../assets/img/Logo.svg">
    </a>
    <form class="search-container">
      <input class="search-container-input" placeholder="Wyszukaj...">
      <div class="search-container-section">
        <span class="section-text">Wszystkie działy</span>
        <button class="section-button">
          <img class="section-button-img" src="../assets/img/angle-down-solid.svg">
        </button>
      </div>
      <button class="search-button">
        <img class="search-button-img" src="../assets/img/search-solid.svg">
      </button>
    </form>
  </div>
  <div class="header-panel">
    <a class="header-panel-account">
      <img class="header-panel-account-img" src="../assets/img/user-solid.svg">
      <p class="header-panel-text">Zaloguj się<br>Załóż konto</p>
    </a>
    <a class="header-panel-shopping">
      <img class="header-panel-shopping-img" src="../assets/img/shopping-cart-solid.svg">
      <p class="header-panel-text">Twój Kosz</p>
    </a>
    <a class="header-panel-contact">
      <img class="header-panel-contact-img" src="../assets/img/envelope-solid.svg">
      <p class="header-panel-text">Kontakt</p>
    </a>
  </div>
</header>
<nav>
  <ol class="menu">
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuPs4" #menuPs4Trigger="matMenuTrigger" (mouseenter)="buttonFocus(menuPs4Trigger)" (mouseleave)="buttonLeave(menuPs4Trigger, button)" style="z-index:1050">
        <h4>PS4</h4>
      </button>
      <mat-menu #menuPs4="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuPs4Trigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria Ps4</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na Ps4</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuXONE" #menuXONETrigger="matMenuTrigger" (mouseenter)="buttonFocus(menuXONETrigger)" (mouseleave)="buttonLeave(menuXONETrigger, button)" style="z-index:1050">
        <h4>XONE</h4>
      </button>
      <mat-menu #menuXONE="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuXONETrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria XONE</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na XONE</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuPC" #menuPCTrigger="matMenuTrigger" (mouseenter)="buttonFocus(menuPCTrigger)" (mouseleave)="buttonLeave(menuPCTrigger, button)" style="z-index:1050">
        <h4>PC</h4>
      </button>
      <mat-menu #menuPC="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuPCTrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria PC</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na PC</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuSWITCH" #menuSWITCHTrigger="matMenuTrigger" (mouseenter)="buttonFocus(menuSWITCHTrigger)" (mouseleave)="buttonLeave(menuSWITCHTrigger, button)" style="z-index:1050">
        <h4>SWITCH</h4>
      </button>
      <mat-menu #menuSWITCH="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuSWITCHTrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria SWITCH</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na SWITCH</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menu3DS" #menu3DSTrigger="matMenuTrigger" (mouseenter)="buttonFocus(menu3DSTrigger)" (mouseleave)="buttonLeave(menu3DSTrigger, button)" style="z-index:1050">
        <h4>3DS</h4>
      </button>
      <mat-menu #menu3DS="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menu3DSTrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria 3DS</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na 3DS</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuPS3" #menuPS3Trigger="matMenuTrigger" (mouseenter)="buttonFocus(menuPS3Trigger)" (mouseleave)="buttonLeave(menuPS3Trigger, button)" style="z-index:1050">
        <h4>PS3/X360</h4>
      </button>
      <mat-menu #menuPS3="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuPS3Trigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria PS3/X360</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na PS3/X360</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuWII" #menuWIITrigger="matMenuTrigger" (mouseenter)="buttonFocus(menuWIITrigger)" (mouseleave)="buttonLeave(menuWIITrigger, button)" style="z-index:1050">
        <h4>WIIU/WII/DS</h4>
      </button>
      <mat-menu #menuWII="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuWIITrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>Akcesoria WIIU/WII/DS</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>Gry na WIIU/WII/DS</h5>
          </div>
        </span>
      </mat-menu>
    </li>
    <li>
      <button #button mat-button [matMenuTriggerFor]="menuUsed" #menuUsedTrigger="matMenuTrigger" (mouseenter)="buttonFocus(menuUsedTrigger)" (mouseleave)="buttonLeave(menuUsedTrigger, button)" style="z-index:1050">
        <h4>UŻYWANE</h4>
      </button>
      <mat-menu #menuUsed="matMenu" direction="down" yPosition="below">
        <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuUsedTrigger, button)">
          <div class="accessories" mat-menu-item>
            <h5>UŻYWANE Akcesoria</h5>
          </div>
          <div class="games" mat-menu-item>
            <h5>UŻYWANE Gry</h5>
          </div>
        </span>
      </mat-menu>
    </li>
  </ol>
</nav>
<router-outlet></router-outlet>
