.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    box-shadow: 0px 1px 5px black;
}

.header-container-search, .header-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-logo-a {
    width: 12.5em;
    height: 4em;
}

.search-logo {
    width: 12.5em;
    height: 4em;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
    border: 1px solid black;
}

.search-container-input {
    padding: 0.5em;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid black;
}

.search-container-section {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
}

.section-text {
    width: 8em;
    margin-right: .25em;
}

.section-button {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background: none;
    border: none;
}

.section-button-img {
    width: 2em;
    height: 2em;
}

.search-button {
    cursor: pointer;
    width: 3em;
    height: 3em;
    background-color: navy;
    border: none;
}

.search-button-img {
    width: 50%;
    height: 50%;
}

.header-panel-contact, .header-panel-account, .header-panel-shopping {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
}

.header-panel-contact-img, .header-panel-account-img, .header-panel-shopping-img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
}

.header-panel-text:hover {
    text-decoration: black underline;
    color: darkslategrey;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.menu-section {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}

.menu-button-img {
    width: 2em;
    height: 2em;
}

.Btn {
    z-index: 1050;
}

.footer {
    padding: 0 5em;
    box-shadow: 0px 1px 5px black;
}

.footer-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-info-subscribe, .footer-info-social, .footer-main {
    margin: 1em;
}

.footer-info-subscribe-input {
    border: 1px solid gray;
    border-radius: 2em;
    padding: 1em 3em;
    margin: 1em 0;
}

.footer-info-subscribe-btn {
    border: 1px solid green;
    background-color: green;
    color: white;
    width: 4em;
    padding: 1em 0;
    border-radius: 2em;
    transform: translateX(-3em);
}

.footer-info-social-icon {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin: 1em;
}

.footer-info-social-icon:hover {
    color:#c3a343;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-contact-component, .footer-info-social-icons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 1em;
}

.footer-contact {
    text-align: center;
}

.footer-contact-component-img {
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
}

.footer-main-text {
    cursor: pointer;
    margin: 0.25em 0;
}

.footer-main-text:hover {
    text-decoration: underline black;
}